<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/estilosGenerales.css" th:href="@{/css/estilosGenerales.css}">
	<link rel="stylesheet" href="static/css/clinicas.css" th:href="@{/css/clinicas.css}">
</head>

<body>
	<div th:replace="fragments::menu"></div>
	<main>
		<div id="content" class="site-content mt-5">
			<div id="primary" class="content-area">
				<div class="contenedor_general" id="contenedor_red_sanna">
					<div class="col-sm-12">
						<h1 class="titulo_pagina" id="tituloPagina">Red de Clínicas</h1>
						<p class="descripcion_pagina">
							FEODOR&nbsp;nace con el objetivo de atender tus necesidades de
							salud, desde las más simples hasta las más complejas en sus
							clínicas y centros clínicos a nivel nacional, con la
							infraestructura, talento médico y tecnología que tu salud merece.
							<br class="blank"> FEODOR&nbsp;esta asociada con empresas
							reconocidas en su rubro, como el Centro Oncológico ALIADA,
							Laboratorios Precisa - Laboratorios Arias Stella y el Centro
							Odontológico Americano COA. Juntos trabajaran para ofrecerte una
							experiencia integral marcada por la excelencia médica y la
							sensibilidad humana. <br class="blank"> <br> <strong>¿Y
								sabes por qué? Porque tu mereces una vida FEODOR.</strong>
						</p>

					</div>
					<div class="col-sm-12" id="contenedor_items_clinicas">
						<h2 style="margin: 0;" class="subt">Clínicas</h2>
						<p class="descripcion_pagina">Te ofrecemos servicio de
							Atención Ambulatoria, Emergencias y Hospitalización.</p>
						<div class="row">
							<div class="col">
								<a
									href="https://www.sanna.pe/clinicas/el-golf-lima/informacion-general"><p
										class="item_clinica_red">
										<img
											src="https://www.sanna.pe/public/Images/Clinicas/20190824004436_YRpn6Ym552.png">
									</p></a> <a
									href="https://www.sanna.pe/clinicas/el-golf-lima/informacion-general"
									class="link_item_red"><h3 style="margin: 0px"
										class="titulo_items_clinicas item_clinica_red">FEODOR \
										Clínica El Golf</h3></a>
								<p class="descripcion_pagina item_clinica_red">Lima</p>
							</div>
							<div class="col">
								<a
									href="https://www.sanna.pe/clinicas/san-borja-lima/informacion-general"><p
										class="item_clinica_red">
										<img
											src="https://www.sanna.pe/public/Images/Clinicas/20190824012627_mljwY5Sv1v.png">
									</p></a><a
									href="https://www.sanna.pe/clinicas/san-borja-lima/informacion-general"
									class="link_item_red"><h3 style="margin: 0px"
										class="titulo_items_clinicas item_clinica_red">FEODOR \
										Clínica San Borja</h3></a>
								<p class="descripcion_pagina item_clinica_red">Lima</p>
							</div>
							<div class="col">
								<a
									href="https://www.sanna.pe/clinicas/sanchez-ferrer-trujillo/informacion-general"><p
										class="item_clinica_red">
										<img
											src="https://www.sanna.pe/public/Images/Clinicas/20190824012538_KIU4zsDMe3.png">
									</p></a><a
									href="https://www.sanna.pe/clinicas/sanchez-ferrer-trujillo/informacion-general"
									class="link_item_red"><h3 style="margin: 0px"
										class="titulo_items_clinicas item_clinica_red">FEODOR \
										Clínica Sánchez Ferrer</h3></a>
								<p class="descripcion_pagina item_clinica_red">Trujillo</p>
							</div>
							<div class="col">
								<a
									href="https://www.sanna.pe/clinicas/del-sur-arequipa/informacion-general"><p
										class="item_clinica_red">
										<img
											src="https://www.sanna.pe/public/Images/Clinicas/20190824012512_GDUFXt3OBG.png">
									</p></a><a
									href="https://www.sanna.pe/clinicas/del-sur-arequipa/informacion-general"
									class="link_item_red"><h3 style="margin: 0px"
										class="titulo_items_clinicas item_clinica_red">FEODOR \
										Clínica del Sur</h3></a>
								<p class="descripcion_pagina item_clinica_red">Arequipa</p>
							</div>
							<div class="col">
								<a
									href="https://www.sanna.pe/clinicas/belen-piura/informacion-general"><p
										class="item_clinica_red">
										<img
											src="https://www.sanna.pe/public/Images/Clinicas/20190824012441_QOMmRxAT5u.png">
									</p></a><a
									href="https://www.sanna.pe/clinicas/belen-piura/informacion-general"
									class="link_item_red"><h3 style="margin: 0px"
										class="titulo_items_clinicas item_clinica_red">FEODOR \
										Clínica Belén</h3></a>
								<p class="descripcion_pagina item_clinica_red">Piura</p>
							</div>
						</div>
					</div>
					<div class="col" id="contenedor_items_cclinicos">
						<p class="subt">Centros Clínicos</p>
						<p class="descripcion_pagina">Te ofrecemos servicio de
							Emergencias y Atención Ambulatoria.</p>
						<div class="row">
							<div class="col">
								<a
									href="https://www.sanna.pe/centros-clinicos/los-olivos-lima/informacion-general"><p
										class="item_clinica_red">
										<img
											src="https://www.sanna.pe/public/Images/Centrosclinicos/20230626182839_PbC7fKNq6T1.png">
									</p></a><a
									href="https://www.sanna.pe/centros-clinicos/los-olivos-lima/informacion-general"
									class="link_item_red"><h3 style="margin: 0px"
										class="titulo_items_clinicas item_clinica_red">FEODOR \
										Centro Clínico Los Olivos</h3></a>
								<p class="descripcion_pagina item_clinica_red">Lima</p>
							</div>
							<div class="col">
								<a
									href="https://www.sanna.pe/centros-clinicos/la-molina-lima/informacion-general"><p
										class="item_clinica_red">
										<img
											src="https://www.sanna.pe/public/Images/Centrosclinicos/20190826204311_9Gmj6dPF5L.png">
									</p></a><a
									href="https://www.sanna.pe/centros-clinicos/la-molina-lima/informacion-general"
									class="link_item_red"><h3 style="margin: 0px"
										class="titulo_items_clinicas item_clinica_red">FEODOR \
										Centro Clínico La Molina</h3></a>
								<p class="descripcion_pagina item_clinica_red">Lima</p>
							</div>
							<div class="col">
								<a
									href="https://www.sanna.pe/centros-clinicos/talara-piura/informacion-general"><p
										class="item_clinica_red">
										<img
											src="https://www.sanna.pe/public/Images/Centrosclinicos/20190826203935_82TAUixgcJ.png">
									</p></a><a
									href="https://www.sanna.pe/centros-clinicos/talara-piura/informacion-general"
									class="link_item_red"><h3 style="margin: 0px"
										class="titulo_items_clinicas item_clinica_red">FEODOR \
										Centro Clínico Talara</h3></a>
								<p class="descripcion_pagina item_clinica_red">Talara</p>
							</div>
							<div class="col">
								<a
									href="https://www.sanna.pe/centros-clinicos/talara-ocupacional-piura/informacion-general"><p
										class="item_clinica_red">
										<img
											src="https://www.sanna.pe/public/Images/Centrosclinicos/20190826204405_uHFS7s0p5R.jpg">
									</p></a><a
									href="https://www.sanna.pe/centros-clinicos/talara-ocupacional-piura/informacion-general"
									class="link_item_red"><h3 style="margin: 0px"
										class="titulo_items_clinicas item_clinica_red">FEODOR \
										Centro Clínico Talara Ocupacional</h3></a>
								<p class="descripcion_pagina item_clinica_red">Talara</p>
							</div>
							<div class="col">
								<a
									href="https://www.sanna.pe/centros-clinicos/cajamarca/informacion-general"><p
										class="item_clinica_red">
										<img
											src="https://www.sanna.pe/public/Images/Centrosclinicos/20190826204334_O2OdpyXYaC.png">
									</p></a><a
									href="https://www.sanna.pe/centros-clinicos/cajamarca/informacion-general"
									class="link_item_red"><h3 style="margin: 0px"
										class="titulo_items_clinicas item_clinica_red">FEODOR \
										Centro Clínico Cajamarca</h3></a>
								<p class="descripcion_pagina item_clinica_red">Cajamarca</p>
							</div>
						</div>

					</div>

					<div class="col-sm-12" id="contenedor_items_easociadas">
						<h2 style="margin: 0;" class="subt">Empresas Asociadas</h2>
						<p></p>
						<div class="row">
							<div class="col">
								<p class="item_clinica_red">
									<img width="302" height="142"
										src="https://www.sanna.pe/public/Images/Clinicas/coa.png"
										class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
										alt="Logo centro odontologico americano"
										srcset="https://www.sanna.pe/public/Images/Clinicas/coa.png 302w, https://www.sanna.pe/public/Images/Clinicas/coa-300x141.png  300w"
										sizes="(max-width: 302px) 100vw, 302px">
								</p>
								<a class="link_item_red"
									href="https://www.sanna.pe/sobre-sanna/empresas-asociadas">
									<h3 style="margin: 0px"
										class="titulo_items_clinicas item_clinica_red">Centro
										Odontológico Americano COA</h3>
								</a>
							</div>
							<div class="col">
								<p class="item_clinica_red">
									<img width="302" height="142"
										src="https://www.sanna.pe/public/Images/Clinicas/aliada-arriba.png"
										class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
										alt=""
										srcset="https://www.sanna.pe/public/Images/Clinicas/aliada-arriba.png 302w, https://www.sanna.pe/public/Images/Clinicas/aliada-arriba-300x141.png 300w"
										sizes="(max-width: 302px) 100vw, 302px">
								</p>
								<a class="link_item_red"
									href="https://www.sanna.pe/sobre-sanna/empresas-asociadas">
									<h3 style="margin: 0px"
										class="titulo_items_clinicas item_clinica_red">Centro
										Oncológico ALIADA</h3>
								</a>
							</div>
							<div class="col">
								<p class="item_clinica_red">
									<img width="302" height="142"
										src="https://www.sanna.pe/public/Images/Clinicas/Precisa2.png"
										class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
										alt=""
										srcset="https://www.sanna.pe/public/Images/Clinicas/Precisa2.png 302w, https://www.sanna.pe/public/Images/Clinicas/Precisa2-300x141.png 300w"
										sizes="(max-width: 302px) 100vw, 302px">
								</p>
								<a class="link_item_red"
									href="https://www.sanna.pe/sobre-sanna/empresas-asociadas">
									<h3 style="margin: 0px"
										class="titulo_items_clinicas item_clinica_red">Precisa
										Laboratorio Clínico</h3>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- #primary -->
		</div>

	</main>
	<div th:replace="fragments::footer"></div>
</body>

</html>