<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/estilosGenerales.css" th:href="@{/css/estilosGenerales.css}">
</head>

<body>
	<div th:replace="fragments-staff::menu"></div>
	<div class="container mt-5">
		<h1 class="mt-5">Lista de correos</h1>
		<div class="row mb-3">
			<div class="col-md-12">
				
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Id de Correo</th>
					<th scope="col">Emisor</th>
					<th scope="col">Clínica responsoble</th>
					<th scope="col">Correo</th>
					<th scope="col">Motivo</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<!-- Iterar sobre la lista de citas y mostrar cada una -->
				<tr th:each="registroAtencion : ${registroAtencions}">
					<td th:text="${registroAtencion.idRegistro}"></td>
					<td th:text="${registroAtencion.nombreEmisor}"></td>
					<td th:text="${registroAtencion.clinica}"></td>
					<td th:text="${registroAtencion.email}"></td>
					<td th:text="${registroAtencion.motivo}"></td>
					<td>
						<a th:href="@{'/registros/delete/' + ${registroAtencion.idRegistro} }"
							onclick="return confirm('¿Está seguro de eliminar?');" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="card text-center">
		<div class="card-header">Footer</div>
		<div class="card-body">
			<h5 class="card-title">Clínicas Feodor Lynen</h5>
			<p class="card-text">Creado y soportado por AMC</p>

		</div>
		<div class="card-footer text-muted bg-dark text-light"><strong>2024</strong></div>
	</div>
</body>

</html>